@{
    ViewData["Title"] = "Home";
}
<h2 class="tituloPublicaciones">Últimas publicaciones</h2>
<section class="librosContainer">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var libro in Model)
        {
            <a href="@Url.Action("Details", "Book", new { id = libro.Id })">
            <div class="libro" style="background:#3a57a6;border-radius:10px;padding:12px 12px 10px 12px;min-width:200px;max-width:230px;display:flex;flex-direction:column;gap:8px;align-items:center;">
                <div class="libroImgContainer"style="min-height:160px;width:100%;display:flex;justify-content:center;">
                    <img src="img/sin-foto.jpg" alt="@libro.nombre" style="width:100%;max-width:155px;" />
                    <div style="height:155px"></div>
                </div>
                <h1 style="font-size:1.1rem;font-weight:700;text-align:center;color:white;margin:2px 0 0 0;">@libro.nombre</h1>
                <h2 style="font-size:1rem;color:#caf0fa;text-align:center;margin:0 0 6px 0;">$18500</h2>
                <div class="pillContainer" style="display:flex;gap:6px;flex-wrap:wrap;">
                    <span class="pill" style="background:#ade9c0;color:#226242;font-size:.9em;border-radius:6px;padding:4px 12px;">Sin uso</span>
                    <span class="pill" style="background:#bbedf6;color:#205278;font-size:.9em;border-radius:6px;padding:4px 12px;">@libro.materia</span>
                    <span class="pill" style="background:#f1f6be;color:#797a36;font-size:.9em;border-radius:6px;padding:4px 12px;">@libro.ano</span>
                </div>
                <button class="desearBtn" style="position:absolute;right:16px;bottom:16px;background:white;border-radius:50%;border:none;padding:7px 7px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" stroke="#3a57a6" stroke-width="2" viewBox="0 0 24 24"><path d="M18 7v14l-6-4-6 4V7a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4z"/></svg>
                </button>
            </div>
            </a>
        }
    }
    else
    {
        <p>No se encontraron libros recomendados para tu especialidad y año.</p>
    }
</section>