@model List<Bookly.Models.PublicacionesCompletas>
@using Bookly.Helpers

@{
    ViewData["Title"] = "Home";
}

@{
    string secondaryBienvenidaBtnAction = ViewBag.userLogged
        ? "location.href='" + Url.Action("Buscar", "Home", new { query = "" }) + "'"
        : "location.href='" + Url.Action("Login", "Usuarios") + "'";
}


<section class="bienvenida primerElemento">
    <div class="bienvenidaInfo">
        <h1><span>La forma más cómoda de comprar</span> <span>y vender libros escolares</span></h1>
        <p class="bienvenidaP">Contactá con un estudiante, acordá un precio justo y una ubicación en cuestión de minutos</p>
        <div class="bienvenidaBtnContainer">
            <button class="mainBtn wHover" style="width: 200px;" onclick="location.href='@Url.Action("Publicar", "Book")'">
                Publicar un libro
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
            </button>
            <button class="secondaryBtn wHover" onclick="@secondaryBienvenidaBtnAction">
                <span>@(ViewBag.userLogged ? "Explorar catálogo" : "Iniciar sesión")</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
            </button>
        </div>
    </div>
    <img src="~/img/foto_bienvenida.webp" alt="foto_bienvenida">
</section>

<section class="bienvenidaGuia">
    <h1>Tu primer libro en 3 simples pasos</h1>
    <section class="stepsContainer">
        <div class="step">
            <div class="stepSvgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            </div>
            <h1>1. Buscá tu libro deseado</h1>
            <p>Podes buscar por el nombre de tu libro, o explorar las recomendaciones en la sección de abajo.</p>
        </div>
        <div class="step">
            <div class="stepSvgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-messages"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10" /><path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" /></svg>
            </div>
            <h1>2. Contactate con el vendedor</h1>
            <p>Dentro de los detalles del libro, presioná "Contactar" y acordá con el vendedor un precio, hora y lugar de encuentro.</p>
        </div>
        <div class="step">
            <div class="stepSvgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M15 19l2 2l4 -4" /></svg>
            </div>
            <h1>3. Encontrate con el vendedor</h1>
            <p>En el lugar y momento acordado, encontrate con el vendedor y asegurate de llevar el dinero correspondiente.</p>
        </div>
    </section>
</section>

<h2 class="tituloPublicaciones">@ViewBag.Titulo</h2>
<section class="librosContainer">
    <section class="cardsPublicadas" style="justify-content: center;">
        @if (Model != null || Model.Count > 0)
        {
            foreach (PublicacionesCompletas libro in Model)
            {
                <div class="libro" onclick="window.location.href='@Url.Action("Detalle", "Book", new { id = libro.id, idVendedor = libro.idVendedor })'">
                    <div class="libroImgContainer">
                    @if (libro.imagen != null)
                    {
                        <img src="data:image/webp;base64,@Convert.ToBase64String(libro.imagen)" alt="imagen del libro" />
                    }
                    else
                    {
                        <img src="~/img/book-placeholder.webp" alt="imagen del libro" />
                    }
                        <section class="libroActionsContainer">
                            <form class="desearBtnForm hoverVerde" asp-controller="Book" asp-action="Desear" asp-route-id="@libro.id" method="post" style="display:inline;">
                                <button type="submit" onclick="event.stopPropagation();">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                                </button>
                            </form>
                        </section>
                    </div>
                    <div class="nombreYMateriaContainer">
                        <h1>@HtmlHelpers.ToUpperPrimeraLetra(libro.nombre)</h1>
                        <h2>@HtmlHelpers.ToUpperPrimeraLetra(libro.materia)</h2>
                    </div>
                    <h3>$@libro.precio</h3>
                    <div class="pillContainer">
                        <span class="pill" style="background-color:@HtmlHelpers.GetColor(libro.estadoLibro);">@libro.estadoLibro</span>
                        <span class="pill">@HtmlHelpers.PasarAñoATexto(libro.ano)</span>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-result">
                <p>No se encontraron libros recomendados para tu especialidad y año.</p>
            </div>
        }
    </section>
</section>

<button class="mainBtn" style="width: auto; justify-self: center;" onclick="@secondaryBienvenidaBtnAction">
    @(ViewBag.userLogged ? "Explorar catálogo completo" : "Iniciá sesión para explorar el catálogo completo")
</button>