@model List<Bookly.Models.Publicacion>

@{
    ViewData["Title"] = "Perfil de usuario";
}

<section class="profileInfo">
    <section class="profileId">
        <img src="~/images.jfif" alt="pfp">
        <div>
            <h1 class="nombreCompleto">ViewBag.usuario.nombreComp</h1>
            <h2 class="aboutMe">ViewBag.usuario.aboutMe</h2>
        </div>
    </section>
    <section class="profileStats">
            <p class="statsPill">ViewBag.usuario.ano ViewBag.usuario.curso ViewBag.usuario.especialidad</p>
            <p class="statsPill">ViewBag.usuario.cantVentasCerradas</p>
            <p class="statsPill">ViewBag.usuario.cantPublicaciones</p>
    </section>
    <button class="logoutBtn" onclick="window.location.href='@Url.Action("Logout", "Usuarios")'">
        Cerrar Sesión
    </button>
</section>
<section class="publicaciones">
    <h1>Publicaciones</h1>
    <button onclick="window.location.href='@Url.Action("Publicar", "Book")'">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 12h6" /><path d="M12 9v6" /><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /></svg>
        Publicar un libro
    </button>
    <section class="cardsPublicadas">
        @if (ViewBag.Mensaje != null)
        {
            <p class="text-muted">@ViewBag.Mensaje</p>
        }
        else
        {
            <div class="row">
                @foreach (Publicacion pub in Model)
                {
                    <div class="libro">
                        <div class="libroImgContainer">
                            <img src="img/libroDefPlaceholder.png" alt="toldot">
                            <form class="desearBtn" asp-controller="Book" asp-action="Eliminar" asp-route-id="@pub.id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </div>
                        <h1>pub.nombre</h1>
                        <h2>$@pub.precio</h2>
                        <div class="pillContainer">
                            <span class="pill">@pub.estadoLibro</span>
                            <span class="pill">pub.materia</span>
                            <span class="pill">pub.ano</span>
                        </div>
                    </div>
                }
            </div>
        }
        <!-- pub.fecha.ToShortDateString() -->
        <!-- <a asp-controller="Book" asp-action="Edit" asp-route-id="pub.id" class="btn btn-warning btn-sm">Editar</a> -->
    </section>
</section>