@model Bookly.Models.PublicacionesCompletas
@using Bookly.Helpers


@{
    ViewData["Title"] = "Ver producto";
}




<section class="detalles">
    <div class="detallesFoto">
        @if (Model.imagen != null)
                {
                    <img src="data:image/webp;base64,@Convert.ToBase64String(Model.imagen)" alt="imagen del libro" />
                }
                else
                {
                    <img src="~/img/book-placeholder.webp" alt="imagen del libro" />
                }
        <button class="desearBtnDetalle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" stroke="#3a57a6" stroke-width="2" viewBox="0 0 24 24"><path d="M18 7v14l-6-4-6 4V7a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4z"/></svg>
        </button>
    </div>
    <div class="detallesDatos">
        <h1>@Model.nombre</h1>
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
        @Model.estadoLibro</h2>
        <h1>$   @Model.precio</h1>
        <h3>Materia: @Model.materia</h3>
        <h3>Año de uso: @HtmlHelpers.PasarAñoATexto(Model.ano)</h3>
        <button class="mainBtn">Comprar</button>
    </div>
</section>


<div class="panel-wrapper">
    <button id="toggleBtn" class="panel-btn">
        ☰
    </button>

    <div id="sidePanel" class="side-panel">
    </div>
</div>


<script>
    const wrapper = document.querySelector(".panel-wrapper");
const btn = document.getElementById("toggleBtn");

btn.addEventListener("click", () => {
    wrapper.classList.toggle("open");
});
</script>

