@model Bookly.Models.PublicacionesCompletas
@using Bookly.Helpers


@{
    ViewData["Title"] = "Ver producto";
}




<section class="detalles primerElemento">
    <div class="detallesFoto">
        @if (Model.imagen != null)
                {
                    <img src="data:image/webp;base64,@Convert.ToBase64String(Model.imagen)" alt="imagen del libro" />
                }
                else
                {
                    <img src="~/img/book-placeholder.webp" alt="imagen del libro" />
                }
        <button class="desearBtnDetalle">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" stroke="#3a57a6" stroke-width="2" viewBox="0 0 24 24"><path d="M18 7v14l-6-4-6 4V7a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4z"/></svg>
        </button>
    </div>
    <div class="detallesDatos">
        <h1>@Model.nombre</h1>
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
        @Model.estadoLibro</h2>
        <h1>$   @Model.precio</h1>
        <h3>Materia: @Model.materia</h3>
        <h3>Año de uso: @HtmlHelpers.PasarAñoATexto(Model.ano)</h3>
        <button class="mainBtn">Comprar</button>
    </div>
</section>


<section class="panel-wrapper open">
    <button id="toggleBtn" class="panel-btn">
        <svg id="toggleIcon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#EFF2F1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-layout-sidebar-left-collapse"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M9 4v16" /><path d="M15 10l-2 2l2 2" /></svg>
    </button>

    <div id="sidePanel" class="side-panel">
        <img src="~/img/default.webp" alt="pfp" class="imgVenDetalle">
        <h3>Jonatan Naifeld</h3>
        <div class="detallesVenInfo">
            <h4>7mo Ciencias Naturales A</h4>
            <h4 id="ventas">5 ventas cerradas</h4>
            <h4>6 publicaciones</h4>
        </div>
        <div class="detallesVenPublics">
            <h3>Publicaciones</h3>
            <img src="~/img/book-placeholder.webp">
            <img src="~/img/book-placeholder.webp">
            <img src="~/img/book-placeholder.webp">
            <img src="~/img/book-placeholder.webp">
        </div>
    </div>
</section>

<script>
const wrapper = document.querySelector(".panel-wrapper");
const btn = document.getElementById("toggleBtn");
const icon = document.getElementById("toggleIcon");

const svgOpen = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#EFF2F1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-layout-sidebar-left-expand"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M9 4v16" /><path d="M14 10l2 2l-2 2" /></svg>`;  // ejemplo: cuadrado

const svgClosed = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#EFF2F1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-layout-sidebar-left-collapse"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M9 4v16" /><path d="M15 10l-2 2l2 2" /></svg>`;


icon.innerHTML = svgOpen;

btn.addEventListener("click", () => {
    wrapper.classList.toggle("open");

    if (wrapper.classList.contains("open")) {
        icon.innerHTML = svgOpen;
    } else {
        icon.innerHTML = svgClosed;
    }
});
</script>