@{
    ViewData["Title"] = "Ver producto";
}


<section class="detalles">
    <div>
        <img src="img/toldot.jpg/>
        <button class="desearBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" stroke="#3a57a6" stroke-width="2" viewBox="0 0 24 24"><path d="M18 7v14l-6-4-6 4V7a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4z"/></svg>
        </button>
    </div>
    <div class="libroDetalles">
        <h1>@ViewBag.libroNombre</h1>
        <h2>@ViewBag.estadoLibro</h2>
        <h1>@ViewBag.precio</h1>
        <h3>Materia: @ViewBag.libroMateria</h3>
        <h3>Año de uso: @ViewBag.libroAnoUso</h3>
        <button class="contactar">
    </div>


</section>

